/* Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #f7b3b3;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.link-nav {
  text-decoration: none;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-links li:hover {
  color: #ff9800;
}

/* Cartwidget */
.cart-widget {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-count {
  margin-left: 6px;
  font-weight: bold;
  background: #6ddd12;
  color: rgb(19, 18, 18);
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 14px;
}

/* Item-List-Container*/
.item-list-container {
  padding: 40px;
  text-align: center;
}

.item-list-container h2 {
  font-size: 24px;
  color: #333;
}

/* Item-List*/
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.item-card {
  border: 1px solid #6e6c6c;
  padding: 10px;
  text-align: center;
}
.item-card img {
  max-width: 100%;
}
.btn-detail,
.btn-add {
  background: #f1a16b;
  color: rgb(59, 59, 59);
  border: none;
  padding: 6px 12px;
  margin-top: 8px;
  cursor: pointer;
}
.item-detail {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}
/*Item-Detail*/
.counter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}
.not-found {
  text-align: center;
  margin-top: 50px;
}
